nextflow.enable.dsl = 2

params {
    outdir                  = 'results'
    ref_fasta               = null
    ref_fai                 = null
    deepsomatic_runs        = null

    // DeepSomatic-specific options
    num_streams_per_gpu     = 3
    enable_gvcf             = false
}

process {
    executor                = 'local'
    errorStrategy           = 'retry'
    maxRetries              = 2
}

docker {
    enabled                 = true
    registry                = 'quay.io'
}

apptainer {
    enabled                 = false
    registry                = 'quay.io'
}

profiles {
    awsbatch {
        process {
            executor        = 'awsbatch'
            queue           = 'default'
        }
        aws {
            region          = 'us-east-1'
        }
    }
}
